/* Estilo general para toda la aplicación */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-image: url('https://storage.cloud.google.com/mi-app-img/fondo.png');
    background-color: #f7f8fe;
  }
  
h1{
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #5430B8 !important;
  font-size: 45px !important;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
}